<nav class="light-blue darken-4">
      <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">&#128209; ProjNotess</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">inicio</a></li>
          <li><a href="/about">acerca de...</a></li>
        </ul>
        <!-- barra de navegacion movil-->
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
          <ul class="sidenav" id="nav-mobile">
            <li><a href="/">inicio</a></li>
            <li><a href="/about">acerca de..</a></li>
          </ul>
        </a>
      </div>
      </div>
    </nav>