<br>
<br>
<div class="row center light-blue lighten-4" style="padding: 2em; border-radius: 1em;">
    <h1 class="header center teal-text">bienvenido a ProjNotes</h1>
    <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-3">
            una aplicacion que te permitira registrar ideas de proyectos que se vayan ocurriendo
        </h5>
    </div>
    <div class="row center">
        <a href="/projects/add" class="btn-large waves-effect wave-light teal">registra una ideas</a>
    </div>
</div>


<!--<h1>{{title}}</h1>
<p>ventana de inicio funcionando</p>-->
